<!DOCTYPE html>
<html ng-app="checkboxTest">
<head>
    <meta charset="utf-8">
    <title>Checkbox</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../bower_components/ionic/release/css/ionic.css">
    <script src="../../dist/js/mobilize.vendor.min.js"></script>
    <script src="../../dist/js/mobilize.bundle.js"></script>
    <script src="../dom-trace.js"></script>
</head>
<body>
<ion-pane ng-controller="AppCtrl">
    <ion-header-bar class="bar-positive" title="Contacts">
        <h1 class="title">Checkbox</h1>

        <div class="buttons">
            <button class="button" ng-click="checkbox.show()">Checkbox</button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <!--mobi-prevent-default-buttons="true"-->

        <mobilize-checkbox
                mobi-items="{{checkboxItems}}"
                mobi-randomize="{{checkboxRandomize || false}}"
                mobi-title="{{checkboxTitle || 'blah blah blah TITLE COMES HERE '}}"
                mobi-sub-title="{{checkboxSubTitle || 'blah blah blah SUB TITLE COMES HERE '}}"
                mobi-header-content="{{checkboxHeaderContent || 'blah blah blah'}}"
                mobi-tpl="partial/partial-checkbox.html"
                delegate-handle="cb-1">


            <div class="addl-content">
                <span class='caf-content' ng-if="$resultStats.num_invalid == 0 && $resultStats.evaluated">
                    SOME CAF CONTENT COMES HERE
                </span>
                <span class='waf-content' ng-if="$resultStats.num_invalid > 0 && $resultStats.evaluated">
                    SOME WAF CONTENT COMES HERE
                </span>
            </div>
        </mobilize-checkbox>
    </ion-content>
</ion-pane>

<script>
    angular.module('checkboxTest', ['mobilize', 'ionic'])
            .controller('AppCtrl', ['$scope', function ($scope, $mobilizeCheckbox) {
                $scope.checkboxItems = [
                    {title: 'Item 1 TRUE YES ', verifiedIf: true},
                    {title: 'Item 2 TRUE No ', verifiedIf: false},
                    {title: 'Item 3 TRUE No ', verifiedIf: false},
                    {title: 'Item 4 TRUE No ', verifiedIf: false},
                    {title: 'Item 5 TRUE YES ', verifiedIf: true},
                    {title: 'Item 6 TRUE YES ', verifiedIf: true},
                ];
                $scope.checkboxHeaderContent = "<p>SOME HEADER CONTENT COMES HERE </p> <b>HEADER CONTENT CAN HAVE TITLES TOO</b> <h4>AND NICE FORMATTING USING HTML TAGS</h4>"
                $scope.checkboxRandomize = false;
            }]);

</script>
</body>
</html>