<ul>

    <!-- mobilizeCheckbox -->
    <li class="menu-section">
        <a href="{{ page.versionHref }}/api/directive/checkboxView/" class="api-section">
            Checkbox Manager
        </a>
    </li>
</ul>
